* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
}

.toolbox-cont {
    height: 5rem;
    background: #4b4b4b;
    display: flex;
    align-items: center;   
}

.toolbox-cont > * {
    margin-left: 4rem;
}

.toolbox-priority-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3.5rem;
    width: 18rem;
    background: #3d3d3d;
}

.toolbox-priority-cont > *:hover {
    background: #485460;
}

.color {
    height: 1.5rem;
    width: 3rem;
}

.lightpink {
    background: lightpink;
}

.lightgreen {
    background: lightgreen;
}

.lightblue {
    background: lightblue;
}

.black {
    background: black;
}

.action-btn-cont {
    height: 3.5rem;
    width: 8rem;
    background: #3d3d3d;
    display: flex;
}

.action-btn-cont > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.add-btn:hover {
    background: green;
}

.remove-btn:hover {
    background: rgb(194, 29, 29);
}

.main-cont {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.ticket-cont {
    height: 12rem;
    width: 15rem;
    background: coral;
    position: relative;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    background: yellow;
    height: 2rem;
}

.ticket-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px; 
    height: 2.5rem;
    width: 2.5rem;
}

.modal-cont {
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: lightsalmon;
    width: 45vw;
    height: 50vh;
    display: none;
}

.text-area-cont {
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
    background: #dfe4ea;
    color: black;
    font-size: 2rem;
    resize: none;
}

.priority-colors-container {
    height: 100%;
    width: 25%;
    display: flex;
    background: #4b4b4b;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor:pointer;
}

.priority-color {
    width: 5rem;
    height: 3rem;
}

.active {
    border: 5px solid salmon;
}